<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Food App</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <h1>Foods</h1>
      <a href="/" class="router">Home</a>
      <div class="content roboto black table-div">
        <table id="table">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
          <% items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
              <td><%= item.categories_to_s %></td>
              <td>
                <a href="/items/detail/<%= item.id %>" class="router margin-right">Show</a>
                <a href="/items/edit/<%= item.id %>" class="router margin-right">Edit</a>
                <a href="/items/delete/<%= item.id %>" class="router margin-right">Destroy</a>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <a href="/items/new" class="router">New Food</a>
    </div>
    <div class="col"></div>
  </div>
</body>